/* ======================== OBSIDIAN Design System sizing ======================== */
/* ===================== V1.0-2022/12/16 used on CassowaryV2 ===================== */

/* In case I have to work with 4K resolution or higher, I have left space for them here */

/* =========================================================================================== */

/* If screen size less than 1500px wide, do STH */
@media screen and (max-width: 1500px) and ( min-width: 1250px) {
    .articles-container {
        padding: 1.5rem;
    }

    .article-long-left, .padding-long-right {
        padding: 0.5rem;
    }

    .article-long {
        margin: 0.25rem;
        padding: 1rem;
    }

    .article-long:hover {
        padding: 1rem;
    }

    .article-long-title, .article-title {
        padding-bottom: 1.5rem;
        font-size: 1rem;
    }

    .article-long-desc, .article-long-date, .article-desc, .article-date {
        font-size: 0.75rem;
    }

    /* Buttons BEGIN */
    .article-button-container {
        display: flex;
        padding: 0.25rem;
        transition: 0.4s;
    }
    
    .article-button-light, .article-button-dark {
        transition: 0.4s;
        padding: 0.25rem;
        font-size: 0.75rem;
    }
    /* Buttons END */

    .placeholder-image-article {
        max-width: 801px !important;
        max-height: 534px !important;
        width: 100%;
        height: auto;
        transition: 0.4s;
    }
    
    .post-image-portrait-mode {
        max-width: 2322px;
        max-height: 4128px;
        width: auto;
        height: 100%;
        transition: 0.4s;
    }
    
    .article-long-image-size {
        max-width: 801px !important;
        max-height: 534px !important;
        width: auto !important;
        height: 100% !important;
        background-color: var(--readerbg);
        transition: 0.4s;
    }
    
    .article-image-size {
        max-width: 299px !important;
        max-height: 168px !important;
        width: auto !important;
        height: 100% !important;
        background-color: var(--readerbg-dark);
        transition: 0.4s;
    }
}

/* =========================================================================================== */

/* If screen size less than 1250px wide, do STH */
@media screen and (max-width: 1250px) and ( min-width: 1170px) {
    .header-brandname {
        text-rendering: optimizeLegibility;
        font-size: calc(2.25rem / 1.1); 
    }
    
    .header-logo {
        width: calc(3.125rem / 1.1);
        height: calc(3.125rem / 1.1);
    }

    .header-left {
        padding-left: 2.5rem;
    }

    .header-right {
        padding-right: 2.5rem;
    }

    .articles-container {
        padding: 1.5rem;
    }

    .article-long-left, .padding-long-right {
        padding: 0.5rem;
    }

    .article-long {
        margin: 0.25rem;
        padding: 1rem;
    }

    .article-long:hover {
        padding: 1rem;
    }

    .article-long-title, .article-title {
        padding-bottom: 1.5rem;
        font-size: 1rem;
    }

    .article-long-desc, .article-long-date, .article-desc, .article-date {
        font-size: 0.75rem;
    }

    /* Buttons BEGIN */
    .article-button-container {
        display: flex;
        padding: 0.25rem;
        transition: 0.4s;
    }
    
    .article-button-light, .article-button-dark {
        transition: 0.4s;
        padding: 0.25rem;
        font-size: 0.75rem;
    }
    /* Buttons END */

    .placeholder-image-article {
        max-width: 1920px;
        max-height: 1080px;
        width: 100%;
        height: auto;
        transition: 0.4s;
    }
    
    .post-image-portrait-mode {
        max-width: 2322px;
        max-height: 4128px;
        width: auto;
        height: 100%;
        transition: 0.4s;
    }
    
    .article-long-image-size {
        max-width: 801px !important;
        max-height: 534px !important;
        width: auto !important;
        height: 100% !important;
        background-color: var(--readerbg);
        transition: 0.4s;
    }
    
    .article-image-size {
        max-width: 299px !important;
        max-height: 168px !important;
        width: auto !important;
        height: 100% !important;
        background-color: var(--readerbg-dark);
        transition: 0.4s;
    }
}

/* =========================================================================================== */

/* If screen size less than 1170px wide, do STH */
@media screen and (max-width: 1170px) and (min-width: 950px) {
    .header-brandname {
        text-rendering: optimizeLegibility;
        font-size: calc(2.25rem / 1.25); 
    }
    
    .header-logo {
        width: calc(3.125rem / 1.25);
        height: calc(3.125rem / 1.25);
    }

    .header-left {
        padding-left: 1.5rem;
    }

    .header-right {
        padding-right: 1.5rem;
    }
    
    .articles-container {
        padding: 1rem;
    }

    .article-long-left, .padding-long-right {
        padding: 0.35rem;
    }

    .article-long {
        margin: 0.15rem;
        padding: 0.75rem;
    }

    .article-long:hover {
        padding: 0.75rem;
    }

    .article-long-title, .article-title {
        padding-bottom: 1.25rem;
        font-size: 1rem;
    }

    .article-long-desc, .article-long-date, .article-desc, .article-date {
        font-size: 0.55rem;
    }

    /* Buttons BEGIN */
    .article-button-container {
        display: flex;
        padding: 0.15rem;
        transition: 0.4s;
    }
    
    .article-button-light, .article-button-dark {
        transition: 0.4s;
        padding: 0.15rem;
        font-size: 0.65rem;
    }
    /* Buttons END */

    .placeholder-image-article {
        max-width: 1920px;
        max-height: 1080px;
        width: 100%;
        height: auto;
        transition: 0.4s;
    }
    
    .post-image-portrait-mode {
        max-width: 2322px;
        max-height: 4128px;
        width: auto;
        height: 100%;
        transition: 0.4s;
    }
    
    .article-long-image-size {
        max-width: 566px !important;
        max-height: 378px !important;
        width: auto !important;
        height: 100% !important;
        background-color: var(--readerbg);
        transition: 0.4s;
    }
    
    .article-image-size {
        max-width: 211px !important;
        max-height: 119px !important;
        width: auto !important;
        height: 100% !important;
        background-color: var(--readerbg-dark);
        transition: 0.4s;
    }
}

/* =========================================================================================== */

/* If screen size less than 950px wide, do STH */
@media screen and (max-width: 950px) and (min-width: 725px) {
    .header-brandname {
        text-rendering: optimizeLegibility;
        font-size: calc(2.25rem / 1.5); 
    }
    
    .header-logo {
        width: calc(3.125rem / 1.5);
        height: calc(3.125rem / 1.5);
    }

    .header-buttons {
        flex-wrap: wrap;
    }

    .header-left {
        padding-left: unset;
    }

    .header-right {
        padding-top: 1rem;
        padding-right: unset;
    }
    
    .articles-container {
        padding: 1.5rem;
    }

    .article-long-left, .padding-long-right {
        padding: 0.5rem;
    }

    .article-long {
        margin: 0.25rem;
        padding: 1rem;
    }

    .article-long:hover {
        padding: 1rem;
    }

    .article-long-title, .article-title {
        padding-bottom: 1.5rem;
        font-size: 1rem;
    }

    .article-long-desc, .article-long-date, .article-desc, .article-date {
        font-size: 0.75rem;
    }

    /* Buttons BEGIN */
    .article-button-container {
        display: flex;
        padding: 0.25rem;
        transition: 0.4s;
    }
    
    .article-button-light, .article-button-dark {
        transition: 0.4s;
        padding: 0.25rem;
        font-size: 0.75rem;
    }
    /* Buttons END */

    .placeholder-image-article {
        max-width: 1920px;
        max-height: 1080px;
        width: 100%;
        height: auto;
        transition: 0.4s;
    }
    
    .post-image-portrait-mode {
        max-width: 2322px;
        max-height: 4128px;
        width: auto;
        height: 100%;
        transition: 0.4s;
    }
    
    .article-long-image-size {
        max-width: calc(801px / 2) !important;
        max-height: calc(534px / 2) !important;
        width: auto !important;
        height: 100% !important;
        background-color: var(--readerbg);
        transition: 0.4s;
    }
    
    .article-image-size {
        max-width: calc(299px / 2) !important;
        max-height: calc(168px / 2) !important;
        width: auto !important;
        height: 100% !important;
        background-color: var(--readerbg-dark);
        transition: 0.4s;
    }
}

/* =========================================================================================== */

/* If screen size less than 725px wide, do STH */
@media screen and (max-width: 725px) and (min-width: 425px) {
    .header-brandname {
        text-rendering: optimizeLegibility;
        font-size: calc(2.25rem / 1.5); 
    }
    
    .header-logo {
        width: calc(3.125rem / 1.5);
        height: calc(3.125rem / 1.5);
    }

    .header-left {
        padding-left: 0rem;
    }

    .header-right {
        padding-top: 1rem;
        padding-right: 0rem;
    }

    .notice {
        font-size: 0.7rem;
    }

    .in-queue {
        padding: 0rem;
    }
    
    .articles-container {
        padding: 0.5rem;
    }

    .article-long-left, .padding-long-right {
        padding: 0.5rem;
    }

    .article-long {
        padding: 0.5rem;
    }

    .article-long:hover {
        padding: 0.5rem;
    }

    .article-long-title, .article-title {
        padding-bottom: 0.5rem;
        font-size: 0.75rem;
    }

    .article-long-desc, .article-long-date, .article-desc, .article-date {
        font-size: 0.6rem;
    }

    /* Buttons BEGIN */
    .article-button-container {
        display: flex;
        padding: 0.20rem;
        transition: 0.4s;
    }
    
    .article-button-light, .article-button-dark {
        transition: 0.4s;
        padding: 0.20rem;
        font-size: 0.6rem;
    }
    /* Buttons END */

    .placeholder-image-article {
        max-width: 1920px;
        max-height: 1080px;
        width: 100%;
        height: auto;
        transition: 0.4s;
    }
    
    .post-image-portrait-mode {
        max-width: 2322px;
        max-height: 4128px;
        width: auto;
        height: 100%;
        transition: 0.4s;
    }
    
    .article-long-image-size {
        max-width: 358px !important;
        max-height: 234px !important;
        width: auto !important;
        height: 100% !important;
        background-color: var(--readerbg);
        transition: 0.4s;
    }
    
    .article-image-size {
        max-width: calc(299px / 4) !important;
        max-height: calc(168px / 4) !important;
        width: auto !important;
        height: 100% !important;
        background-color: var(--readerbg-dark);
        transition: 0.4s;
    }
}

/* =========================================================================================== */

/* If screen size less than 425px wide, do STH */
@media screen and (max-width: 425px) and (min-width: 150px) {
    .header-brandname {
        text-rendering: optimizeLegibility;
        font-size: calc(2.25rem / 3); 
    }
    
    .header-logo {
        width: calc(3.125rem / 3);
        height: calc(3.125rem / 3);
    }

    .header-buttons {
        flex-wrap: wrap;
    }

    .header-left {
        padding-left: unset;
    }

    .header-right {
        padding-right: unset;
    }

    .header-button {
        font-size: 0.55rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .notice {
        font-size: 0.5rem;
    }
    
    .articles-container {
        display: flex;
        flex-direction: column;
        padding: 0.15rem;
    }

    .double-article {
        flex-direction: column;
    }

    .projects-container {
        flex-direction: column;
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 0rem;
        align-items: unset;
    }

    .projects-container .article {
        padding: 0rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .article {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .in-queue {
        padding: 0rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .article-long-left, .padding-long-right {
        padding: 0.15rem;
    }

    .article-long {
        margin: 0.15rem;
        padding: 0.25rem;
    }

    .article-long:hover {
        padding: 0.25rem;
    }

    .article-long-title, .article-title {
        padding-bottom: 0.5rem;
        font-size: 0.65rem;
    }

    .article-long-desc, .article-long-date, .article-desc, .article-date {
        font-size: 0.35rem;
    }

    /* Buttons BEGIN */
    .article-button-container {
        display: flex;
        padding: 0.15rem;
        transition: 0.4s;
    }
    
    .article-button-light, .article-button-dark {
        transition: 0.4s;
        padding: 0.15rem;
        font-size: 0.35rem;
    }
    /* Buttons END */

    .placeholder-image-article {
        max-width: 1920px;
        max-height: 1080px;
        width: 100%;
        height: auto;
        transition: 0.4s;
    }
    
    .post-image-portrait-mode {
        max-width: 2322px;
        max-height: 4128px;
        width: auto;
        height: 100%;
        transition: 0.4s;
    }
    
    .article-long-image-size {
        max-width: 160px !important;
        max-height: 107px !important;
        width: auto !important;
        height: 100% !important;
        background-color: var(--readerbg);
        transition: 0.4s;
    }
    
    .article-image-size {
        max-width: 60px !important;
        max-height: 34px !important;
        width: auto !important;
        height: 100% !important;
        background-color: var(--readerbg-dark);
        transition: 0.4s;
    }

    .footer, .footer-text, .footer-link {
        font-size: 0.55rem;
    }

    .footer {
        padding: 0.15rem;
        padding-bottom: 1rem;
    }
}

