# (testing and development)
.hintrc
/.ignore/
.vscode

wiki

# -- Jekyll --
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_posts/2025-01-01-HITMANWOARereview.md
_posts/2025-01-01-Romania.md
serve-dev
