<div class="recommendations-container">
    <div class="post">
        <p class="post-text">My banners:</p>
        <a href="https://alextecplayz.com" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/ATP.webp" alt="AlexTECPlayz" title="Alex' blog"></a>
        <a href="https://vantainteractive.com/en/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/VIgamesnow.webp" alt="Vanta Interactive" title="Vanta Interactive home page"></a>
        <a href="https://docs.vantainteractive.com/en/sapphire" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/SapphireEngine.webp" alt="Sapphire Game Engine"  title="Sapphire Game Engine"></a>
        <a href="https://vantainteractive.com/en/games/Prisonia" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/Jailbird.gif" alt="PRISONIA - Imprison people NOW!" title="PRISONIA - Imprison people NOW!"></a>
    </div>
</div>
<div class="post">
    <p class="post-text">Various banners:</p>
    <a href="https://www.patrick-breyer.de/en/posts/chat-control/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/StopChatControl.webp" alt="Stop Chat Control!" title="Stop Chat Control!"></a>
    <a href="https://unrealengine.com" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/UnrealEngine.webp" alt="Unreal Engine" title="Use Unreal Engine"></a>
    <a href="https://www.mozilla.org/firefox/new/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/firefox.webp" alt="take back the web, install firefox" title="Take back the web, install Firefox"></a>
    <a href="https://ublockorigin.com/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/ublock.webp" alt="uBlock Origin NOW" title="use uBlock Origin NOW"></a>
    <a href="https://jointhefediverse.net" target="_blank" rel="noopener noreferrer"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/federate.webp" alt="join the fediverse" title="Join the Fediverse"></a>
    <a href="https://yesterweb.org/no-to-web3/" target="_blank" rel="noopener noreferrer"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/noweb3.gif" alt="Say no to Web3" title="Say no to Web3!"></a>
    <a href="https://transinromania.ro/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/TransInRomania.webp" alt="Trans in Romania" title="Trans in Romania"></a>
    <img class="banner8831" src="{{ site.baseurl }}/images/88x31/transnow2.webp" alt="Trans rights NOW!" title="Trans rights NOW!">
    <img class="banner8831" src="{{ site.baseurl }}/images/88x31/NoBinaryNoProblem.webp" alt="no binary? no problem!" title="no binary? no problem!">
    <img class="banner8831" src="{{ site.baseurl }}/images/88x31/AromanticsNow.webp" alt="Aromantics Now!" title="Aromantics now!">
    <img class="banner8831" src="{{ site.baseurl }}/images/88x31/rainbow_bev.webp" alt="Rainbow!" title="the pride rainbow">
    <img class="banner8831" src="{{ site.baseurl }}/images/88x31/valid-css.gif" alt="Valid CSS" title="This site uses valid CSS3">
    <img class="banner8831" src="{{ site.baseurl }}/images/88x31/valid-html5.gif" alt="Valid HTML 5" title="This site uses valid HTML5">
    <img class="banner8831" src="{{ site.baseurl }}/images/88x31/right-to-repair.webp" alt="I support Right To Repair!" title="I support Right To Repair!">
    <img class="banner8831" src="{{ site.baseurl }}/images/88x31/discord-no-way.gif" alt="Discord? No way!" title="Discord? No way!">
    <!-- <img class="banner8831" src="{{ site.baseurl }}/images/88x31/" alt="" title=""> -->
</div>
<div class="post">
    <p class="post-text">Cool people or sites:</p>
    <a href="https://cobalt.tools" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/justusecobalt.webp" alt="just use cobalt" title="just use cobalt(.tools)"></a>
    <a href="https://zvava.org/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/zvava.org.webp" alt="zvava (sophie)" title="sophie's blog"></a>
    <a href="https://lunabee.space/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/lunabee.gif" alt="lunabee" title="the beespace"></a>
    <a href="https://nora.codes/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/noracodes.png" alt="nora codes" title="Nora Tindall's website"></a>
    <a href="https://blog.fawx.news/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/blog.fawx.news.webp" alt="Blog Fawx News" title="Ori's Weird Blog"></a>
    <a href="https://lunareclipse.zone/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/lunar-eclipse-zone.gif" alt="The LunarEclipse Zone" title="The LunarEclipse Zone"></a>
    <a href="https://flufftech.net/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/rail-flufftech.webp" alt="Rail" title="rail: a fox that meows,,"></a>
    <a href="https://awawa.neocities.org/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/awawa.webp" alt="byte" title="byte's webbed site"></a>
    <a href="https://keeri.place/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/keerifox.png" alt="keeri" title="keeri's place"></a>
    <a href="https://sneexy.pages.gay/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/sneexy.png" alt="sneexy" tite="sneexy's place"></a>
    <a href="https://seirdy.one/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/seirdy.png" alt="Square icon of a colon and semicolon, next to the word Seirdy." title="Seirdy’s Home"></a>
    <a href="https://lmnt.me/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/lmnt.gif" alt="Louie Mantia" title="Louie Mantia"></a>
    <!-- <a href="" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/" alt="" title=""></a> -->
</div>