<!-- Header begin -->
        <header class="header header-padding bg-header z-index100" id="landing">
            <div class="header-left">
                <div class="header-branding">
                    <a href="{{ site.baseurl }}/"><img class="header-logo" id="logo" src="{{ site.baseurl }}/favicon/favicon-512x512.png" alt="AlexTECPlayz brand image"/></a>
                </div>
              </div>
            </div>
                <div class="header-right">
                    <div class="header-buttons">
                        <a class="header-button grotesk semibold" href="{{ site.baseurl }}/about">{{ site.t[page.lang].about }}</a>
                        <a class="header-button grotesk semibold" href="{{ site.baseurl }}/uses">{{ site.t[page.lang].uses }}</a>
                        <a class="header-button grotesk semibold" href="{{ site.baseurl }}/support">{{ site.t[page.lang].support }}</a>
                        <a class="header-button grotesk semibold" href="{{ site.baseurl }}/portfolio">{{ site.t[page.lang].portfolio }}</a>
                    </div>
                </div>
            </div>
        </header>
<!-- Header end -->
