<!-- Header begin -->
        <header class="header header-padding z-index100" id="landing">
            <div class="header-left">
                <div class="header-branding">
                    <a data-spalink href="{{ site.baseurl }}/"><img class="header-logo" id="logo" src="{{ site.baseurl }}/favicon/favicon-512x512.png" alt="AlexTECPlayz brand image"/></a>
                </div>
              </div>
            </div>
                <div class="header-right">
                    <div class="header-buttons">
                        <a data-spalink class="header-button rem1-15 grotesk semibold" href="{{ site.baseurl }}/about">About</a>
                        <a data-spalink class="header-button rem1-15 grotesk semibold" href="{{ site.baseurl }}/posts">Posts</a>
                        <a data-spalink class="header-button rem1-15 grotesk semibold" href="{{ site.baseurl }}/notes">Notes</a>
                        <a data-spalink class="header-button rem1-15 grotesk semibold" href="{{ site.baseurl }}/support">Support</a>
                        <a data-spalink class="header-button rem1-15 grotesk semibold" href="{{ site.baseurl }}/portfolio">Portfolio</a>
                    </div>
                    <div class="header-button-controls">
                        <a class="header-button rem1-15 grotesk semibold" title="Site settings" id="settings-modal-opener"><i data-lucide="settings"></i></a>
                        <a class="header-button rem1-15 grotesk semibold" title="Search the site" href="{{ site.baseurl}}/search"><i alt="Search" data-lucide="search"></i></a>
                    </div>
                </div>
            </div>
        </header>
<!-- Header end -->
