<div class="flex column">
    <div class="progress-bar-container" id="spaloader"></div>
    <div class="mobile-bottomnav">
        <a data-spalink class="mobile-bottomnav-button" href="{{ site.baseurl }}/">
            <i data-lucide="hexagon"></i>
            <p class="semibold grotesk">Home</p>
        </a>
        <a data-spalink class="mobile-bottomnav-button" href="{{ site.baseurl }}/posts">
            <i data-lucide="newspaper"></i>
            <p class="semibold grotesk">/posts</p>
        </a>
        <a data-spalink class="mobile-bottomnav-button" href="{{ site.baseurl }}/notes">
            <i data-lucide="notebook-text"></i>
            <p class="semibold grotesk">/notes</p>
        </a>
        <a data-spalink class="mobile-bottomnav-button" href="{{ site.baseurl }}/portfolio">
            <i data-lucide="folder-open"></i>
            <p class="semibold grotesk">/portfolio</p>
        </a>
    </div>
</div>