---
layout: portfolio_anubis
lang: en
locale: en_US
image_banner_link: 
title: Project Anubis - Voxel art showcase
---

<!DOCTYPE html>
<html lang="{{ page.lang }}" class="scroll-smooth bg-header">
    <head>
        {% include head.html %}
    </head>
<body class="bg-header">
        {% include header.html %}

        {% include notice-container.html %}

        <div class="articles-container portfolio-grid">
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/temple.webp" alt="An image of a cream temple in ancient egyptian style with some carvings, engravings, a gray raised base, a gold arch entrance, green lines near the flat roof, and a raised opening in the roof, similar to a skylight.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/temple.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A temple</p>
            </div>
            <div class="recommendations-container column">
                <p class="article-long-title white grotesk semibold rem2-25">What is Project Anubis?</p>
                <p class="article-desc rem1 lightgray semibold monospace">Project Anubis, or better known by its intended product name, AEDIS, is a mobile and PC tower defense/city builder game I worked on for a little while between August 23 and September 14, 2023 to test out the concept. The game is currently on hold, and its future is unclear. It might be developed again if there's any interest in this idea.</p>
                <p>&nbsp;</p>
                <p class="article-desc rem1 lightgray semibold monospace">NOTE: The voxel art made available on my portfolio isn't for sale, or to be used by any third-parties. This voxel art is for use in my projects and my art.</p>
                <p>&nbsp;</p>
                <p class="article-desc rem1 lightgray semibold grotesk italic">© 2023-2024 AlexTECPlayz. The images on this page cannot be used by third parties, or commercially.</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/temple_interior.webp" alt="An image of the interior of previously mentioned temple, with orange raised platforms to serve as a walkway and a shrine.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/temple_interior.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The interior of a temple, with what's supposed to be a shrine</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/bazaar.webp" alt="An iamge of a wooden bazaar with a purple and white cloth roof.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/bazaar.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A simple wooden bazaar that can be installed anywhere, perfect for travelling salesmen.</p>
            </div>
            <div class="recommendations-container column">
                <p class="article-long-title white grotesk semibold rem1-5">Decor buildings</p>
                <p class="article-desc rem1 lightgray semibold monospace">Buildings such as the bazaar, tall buildings that have no defense measures are meant to serve as decor, and would be used in the city-building mode, in-between rounds, to boost your income.</p>
                <p>&nbsp;</p>
                <p class="article-desc rem1 lightgray semibold monospace">In-between rounds, what is that? AEDIS is supposed to integrate both simple tower defense and city building mechanics, but with somewhat of a twist: the game is round-based, and takes place in settlements all over Ancient Egypt, such as Memphis, Heliopolis, other cities along the Nile such as Naqada, Luxor, Herakleopolis and Abydos. You, the player, are an architect employed by the pharaoh, and you've been tasked to fortify and expand existing cities or settlements along the Nile, equip them with defense capabilities while also having an effect on both the local and overall economy of Egypt, as you make your way to Cairo, to greet the pharaoh.</p>
                <p class="article-desc rem1 lightgray semibold monospace">One round, you build defense structures such as towers and traps, which would usually occur during the night, while in the next round, which would usually occur during the day - as your defenses structures fend off any attackers - would build buildings that could serve as decorations or have an economic impact, such as increasing your income over the course of the remaining rounds, paths, residential buildings, fountains, temples, other facilities, etc. You would alternate between these rounds until you reach round 40, after which you would complete the level.</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/bazaar_tall.webp" alt="A tall, single-floor sandstone mixed-use bazaar building that also has residential space on its upper floor. The ground floor has a large wooden frame with an expanded purple and white-striped umbrella, a wooden post and a cauldron. There is no complete roof on its first floor, as it's meant to be an 'open concept' design, that would allow the residents or customers to climb to the roof via an entryway in the back, set up lawnchairs to lounge or to dance.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/bazaar_tall.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The 'tall' Bazaar. This is a mixed-use commercial building with residential space on the floor above</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/bazaar_tall_halloween.webp" alt="The same bazaar building, but at night, in a Halloween variant where there is an orange pumpkin next to the umbrella post on the ground floor, and orange lightning coming from the inside of the bazaar shop.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/bazaar_tall_halloween.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A Halloween variant, at night</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/bazaar_tall_halloween_v2.webp" alt="The same bazaar building, but at night, in a second Halloween variant, where there is no pumpkin, and the cauldron has an ominous green glow, similar to poison. There is some more ominous green glow coming from the stairwell on the upper floor.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/bazaar_tall_halloween_v2.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">Another Halloween variant, but with an ominous green glow</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/building_tall1.webp" alt="The same style of building as the bazaar, but there is no wooden frame, as there is just a simple wooden door, as this is supposed to be housing, not a commercial building.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/building_tall1.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A regular tall building, usually housing</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/building_tall2.webp" alt="The same residential building, but in a variant where there is a palm on the roof for shade.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/building_tall2.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A variant of the tall building, but with a palm on top for some extra shade</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/minaret.webp" alt="A very tall building with some blue accent stripes and dots.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/minaret.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A minaret, inspired by both Ancient Egyptian and Moroccan architecture</p>
            </div>
            <div class="recommendations-container column">
                <p class="article-desc rem1 lightgray semibold monospace">You'd have three main objectives to protect, similar to Clash of Clans: the House of Writings (similar to a town hall), the Temple or an important building specific to that location, and the "jewerly houses", which are essentially banks. If all 3 objectives are failed, you fail the level. You can complete the level with two objectives failed, however.</p>
                <p class="article-desc rem1 lightgray semibold monospace">As you progress, you're supposed to collect certain sacred objects (sacra), which would be carried with you as you reach Cairo, because here is where things get interesting: by collecting these sacred objects and bringing them with you, you've been helping the pharaoh to 'revive' an ancient god - Ra.</p>
                <p class="article-desc rem1 lightgray semibold monospace">Over the course of the game, you would have some text-based character interactions in cutscenes between you, the player/architect, and emissaries of the pharaoh, which would collect these sacred objects and deliver them to the pharaoh. In the background of some of these cutscenes, you would see the pyramid of the ancient god, in multiple stages - a broken down version, a version that is being restored, and a version that is restored, and ready to welcome the new god. Additionally, during a special event in a Halloween-themed update, the restoration version of the pyramid would have green lights coming out from the inside, and the golden tip would be bright green.</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/pyramid_broken.webp" alt="A white pyramid with a golden tip, in a broken down state, where the white coating is gone in some places, and the sandstone beneath is visible. Some portions have gaps in them.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/pyramid_broken.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The initial, broken-down variant of Ra's pyramid</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/pyramid_restoration.webp" alt="A white pyramid with a golden tip, in a somewhat-finished state. Some wooden scaffoldings can be seen. Some sandstone is still visible, but is being covered up with a new white coat of paint.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/pyramid_restoration.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The pyramid being restored to its former glory</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/pyramid_restored.webp" alt="A white pyramid with a golden tip, now fully restored, looking as clean as ever, and ready to welcome the god of the Sun, Ra.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/pyramid_restored.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The pyramid, restored. Ra can now be welcomed back into the world</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/pyramid_restoration_halloween.webp" alt="A white pyramid with a bright green tip, in a state of restoration. There is an ominous green glow surrounding it.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/pyramid_restoration_halloween.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The Halloween version of the in-restoration pyramid</p>
            </div>
            <div class="recommendations-container column">
                <p class="article-long-title white grotesk semibold rem1-5">Defense buildings</p>
                <p class="article-desc rem1 lightgray semibold monospace">Buildings such as the Obelisk tower, Archery Tower, Ankh Tower, and of course, the Cactus.</p>
                <p>&nbsp;</p>
                <p class="article-desc rem1 lightgray semibold monospace">I took some creative liberties with the designs of some of these towers, as obviously, there are no mystic towers in real life, or poison towers nowadays. They all have distinct colours and/or designs to help the player differentiate one building from another, providing some 'freshness' and helping with accessibility.</p>
                <p class="article-desc rem1 lightgray semibold monospace">One round, you build defense and attack structures, which would usually occur during the night, while in the next round, which would usually occur during the day - as your defenses and attack structures fend off any attackers, you would build buildings that could serve as decorations or have an economic impact, such as increasing your income over the course of the remaining rounds. You would alternate between these rounds until you reach round 40, after which you would complete the level.</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/cactus.webp" alt="Four cactuses">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/cactus.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The Cactus! Feared by all, of course</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/tower_obelisk.webp" alt="A tall sandstone tower with a sharp tip. The sides of the tower have ancient engravings that are glowing purple.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/tower_obelisk.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The Obelisk tower, a mythical structure with engravings that would light up purple when activated. Powered by the gods, this defense structure would deal lots of damage, following a cooldown</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/tower_curse.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/tower_curse.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The curse tower, the casket on the roof would light up white when activated. As per its name, it would apply curses to the enemies, that would deal damage over time</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/tower_ankh.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/tower_ankh.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The Ankh tower. Mainly, it would serve as a 'redirection' point and act as a secondary jewerly house. This could bait enemies to be redirected towards this instead of other targets. If other towers are placed around it, this would be the perfect ambush point.</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/tower_artillery.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/tower_artillery.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">An artillery tower, with a roof, to allow long-range soldiers to target further tiles or enemies, without having the sun getting in their eyes. Yes, it's basically a longer-range tower compared to the 'classic' arrow tower</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/tower_mystic.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/tower_mystic.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The mystic tower. Through the power of spirituality, magic and some flasks, they damage enemies. No, they're not wizards. They're just really good at sourcing their stuff</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/tower_arrow.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/tower_arrow.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">Ah, the classic arrow tower. It has archers that shoot arrows at enemies, it's a pretty simple concept, known and practiced for millenia</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/tower_poison.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/tower_poison.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The poison tower. With an ominous glowing cauldron on the roof, they prepare potions they throw at enemies to deal damage. Quite literally testing in production!</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/tower_watch.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/tower_watch.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">The watch tower, a long-range tower that can target enemies further away that can't be reached by the arrow or the artillery towers.</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/tower_arrowroof.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/anubis/tower_arrowroof.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">Mixed-use defense, the latest in Ancient Egyptian architecture! People can both reside here, and defend themselves and the city, the best 2-for-1 combo!</p>
            </div>
            <div class="recommendations-container column">
                <p class="article-long-title white grotesk semibold rem1-5">Other information</p>
                <p class="article-desc rem1 lightgray semibold monospace">AEDIS was supposed to be a simple tower defense/city-building game, but the plans and scope grew larger over time.</p>
                <p>&nbsp;</p>
                <p class="article-desc rem1 lightgray semibold monospace">Ideas such as: what if AEDIS were to take place in multiple eras and locations, and to have unique architecture for each location? This changed AEDIS from a simple Ancient Egyptian tower defense game into a 'collection' of locations, that would grow over time with additional updates, including places such as Ancient Rome, Ancient Greece, the Aztec jungle, Atlantis, the Babylonian Empire, feudal Japan, and a Volcano.</p>
                <p class="article-desc rem1 lightgray semibold monospace">Ultimately, Project Anubis is still on the table, and is a viable game that I would like to continue developing, but had to halt it due to other projects such as PRISONIA and the Sapphire Engine being prioritized. If you think you might have some ideas for this game, or want to see something included, don't hesitate to tell me on Mastodon, I'm always open to suggestions for all of my projects.</p>
                <a class="article-button-light" href="{{ site.baseurl }}/portfolio">Return to the Portfolio</a>
            </div>
        </div>

        {% include footer.html %}
</body>
</html>
