---
type: page
lang: en
locale: en_US
image_banner_link: 
title: Frosted Planet - Voxel art showcase
description: "Frosted Planet was a very unfinished idea about arctic exploration on a newly-discovered planet that could be potentially terraformed and be inhabited by humans, as Earth is beginning to collapse due to global warming and catastrophes caused by climate change. In the beginning, the player arrives on a frozen continent and sets up a base for research, exploration and expansion."
date: 2024-07-25
categories:
  - Page
  - Portfolio
tags:
  - Frosted Planet
  - Voxel
  - Art
  - Showcase
  - Work
  - MagicaVoxel
image_banner_link: /images/portfolio/frostedplanet/arctic_base_lv20.webp
---

<!DOCTYPE html>
<html lang="{{ page.lang }}" class="scroll-smooth">
    <head>
        {% include head.html %}
    </head>
<body>
        {% include header.html %}

        {% include notice-container.html %}

        <div class="articles-container portfolio-grid">
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv1.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv1.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 1</p>
            </div>
            <div class="recommendations-container column">
                <p class="article-long-title white grotesk semibold rem2-25">What is Frosted Planet?</p>
                <p class="article-desc rem1 lightgray semibold monospace">Frosted Planet was a very unfinished idea about arctic exploration on a newly-discovered planet that could be potentially terraformed and be inhabited by humans, as Earth is beginning to collapse due to global warming and catastrophes caused by climate change. In the beginning, the player arrives on a frozen continent and sets up a base for research, exploration and expansion.</p>
                <p class="article-desc rem1 lightgray semibold monospace">Over time, the player would be able to travel further, and reach places that weren't frozen, such as an overgrown jungle with an abandoned research lab that would become a secondary base, a desert where the player could set up a third base in a hill, and a tall mountain, where the player could set up their final base, that would offer spectacular views both from the side, and the peak of the mountain.</p>
                <p>&nbsp;</p>
                <p class="article-desc rem1 lightgray semibold monospace">NOTE: The voxel art made available on my portfolio isn't for sale, or to be used by any third-parties. This voxel art is for use in my projects and my art.</p>
                <p>&nbsp;</p>
                <p class="article-desc rem1 lightgray semibold grotesk italic">© 2022 AlexTECPlayz, All rights reserved. The images on this page cannot be used by third parties, or commercially.</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv2.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv2.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 2, with a slightly improved antenna, a generator on the roof and a sun cover for the window</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv3.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv3.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 3, with an antenna on the roof, and a grate on its foundation. Behind the generator on the roof is a small fuel storage tank</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv4.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv4.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 4, being expanded</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv6.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv6.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 6, enlarged</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv10.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv10.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 10, with an outdoor workshop table and sun cover</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv11.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv11.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 11, with an upper floor dormitory</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv12.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv12.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 12, with a garage installed in the back with exits on both the left and right side, and a larger fuel storage tank on the roof</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv13.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv13.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 13, with a tower frame being built</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv15.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv15.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 15, with the tower platform and ladder in place</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv16.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv16.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 16, with a container on the tower</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv17.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv17.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 17, with a funnel installed</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv18.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv18.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 18, receives some pipes and valves</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv20.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv20.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">The arctic base at Level 20, now fully upgraded</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/container_red.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/container_red.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">A red container</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/cargo_pad.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                    <div class="image-frame-buttons">
                        <a data-nolink class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/frostedplanet/cargo_pad.webp" title="Maximize the image"><i data-lucide="maximize"></i></a>
                    </div>
                </figure>
                <p class="post-text rem1 white grotesk medium">A cargo pad</p>
            </div>
            <div class="recommendations-container column">
                <p class="article-long-title white grotesk semibold rem1-5">Other information</p>
                <p class="article-desc rem1 lightgray semibold monospace">Ultimately, Frosted Planet was scrapped, for the time being.</p>
                <p>&nbsp;</p>
                <p class="article-desc rem1 lightgray semibold monospace">I really don't think Frosted Planet is a bad idea for a game, but it would take a long time to develop, especially as it's supposed to be somwhat open-world and expansive, with multiple locations and mechanics.</p>
                <p class="article-desc rem1 lightgray semibold monospace">Frosted Planet was inspired by ASTRONEER, Scrap Mechanic and Raft.</p>
                <a class="article-button-light" href="{{ site.baseurl }}/portfolio">Return to the Portfolio</a>
            </div>
        </div>

        {% include footer.html %}
</body>
</html>
