---
layout: portfolio_anubis
lang: en
locale: en_US
image_banner_link: 
title: Miscellaneous - Voxel art showcase
---

<!DOCTYPE html>
<html lang="{{ page.lang }}" class="scroll-smooth bg-header">
    <head>
        {% include head.html %}
    </head>
<body class="bg-header">
        {% include header.html %}

        {% include notice-container.html %}

        <div class="articles-container portfolio-grid">
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/art/cogwheel.webp" alt="A gray voxel cogwheel on a pink background.">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/art/cogwheel.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A cogwheel. Was made for AEDIS' main menu icon, but ultimately wasn't used. | (2023)</p>
            </div>
            <div class="recommendations-container column">
                <p class="article-long-title white grotesk semibold rem2-25">Miscellaneous art</p>
                <p class="article-desc rem1 lightgray semibold monospace">This page contains miscellaneous/uncategorized art, such as art from other projects that simply have too few images to be placed in its own post, uncategorized art that isn't part of any project, and anything else of that nature.</p>
                <p>&nbsp;</p>
                <p class="article-desc rem1 lightgray semibold monospace">NOTE: The voxel art made available on my portfolio isn't for sale, or to be used by any third-parties. This voxel art is for use in my projects and my art.</p>
                <p>&nbsp;</p>
                <p class="article-desc rem1 lightgray semibold grotesk italic">© 2022-2024 AlexTECPlayz. The images on this page cannot be used by third parties, or commercially.</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/art/retro_casette.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/art/retro_casette.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A retro VHS tape I made as a test in MagicaVoxel | (2022)</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/cube/server_active.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/cube/server_active.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">An active server. Inspired by HITMAN 2's Haven Island servers | (2022)</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/cube/server_deactivated.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/cube/server_deactivated.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">An inactive server | (2022)</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/cube/server_error.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/cube/server_error.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A server that has an error | (2022)</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/voxel/dungeon_column_broken.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/voxel/dungeon_column_broken.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A broken column to be used in a dungeon, or a temple | (2022)</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/voxel/sawblade.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/voxel/sawblade.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A sawblade to be used as a trap in a dungeon | (2022)</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/voxel/short_grass.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/voxel/short_grass.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">Short grass, duplicated and rotated on the Z-axis | (2022)</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/voxel/workbench.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/voxel/workbench.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A workbench | (2022)</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/voxel/grindstone.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/voxel/grindstone.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A grindstone | (2022)</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/voxel/blast_furnace.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/voxel/blast_furnace.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A blast furnace | (2022)</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/voxel/smoker.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/voxel/smoker.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">A smoker | (2022)</p>
            </div>
            <div class="article column">
                <figure class="image-frame">
                    <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/voxel/wet_oak_door.webp" alt="">
                    <a class="image-frame-button rem1 bold grotesk" href="{{ site.baseurl }}/images/portfolio/voxel/wet_oak_door.webp">⛶</a>
                </figure>
                <p class="article-long-title rem1 white grotesk medium">Wet oak door | (2022)</p>
            </div>
        </div>

        {% include footer.html %}
</body>
</html>
