---
layout: 404
---

<!DOCTYPE html>
<html lang="{{ page.lang }}" class="scroll-smooth">
    <head>
        {% include head.html %}
        <div id="features-pagewide">
            <meta name="feature-stickypostheader" content="false"/>
        </div>
    </head>
<body>
        {% include header.html %}

        {% include notice-container.html %}

        {% include mobile.html %}

        <div id="main-content"> <!-- Continues past 8831 banners -->

        <div class="post-content post">
            <header class="post-header flex column">
                <p class="post-title grotesk semibold rem20 white" itemprop="name headline">404</p>
            </header>
         <div class="post-content lightgray rem1-15 monospace medium flex column">
                <p class="post-text rem1-5 monospace medium white">{{ site.t[page.lang].pagenotfound }}</p>
                <a class="post-text rem1-5 monospace medium white link" href="{{ site.baseurl }}/">{{ site.t[page.lang].homepage }}</a>
           </div>
        </div>

        </div> <!-- End of div id main-content -->

        {% include footer.html %}
</body>
</html>
