---
layout: index
---

<!DOCTYPE html>
<html lang="{{ page.lang }}" class="scroll-smooth">
    <head>
        {% include head.html %}
        <meta name="feature-stickypostheader" content="false"/>
    </head>
<body>
        {% include header.html %}

        {% include notice-container.html %}

        {% include mobile.html %}

        <div class="articles-container">
            <div class="flex row align-end"><p class="grotesk semibold white rem2">Hi, I'm Alex!</p>&nbsp;<p class="monospace semibold lightgray rem1">(she/they)</p></div>
            <p class="monospace medium lightgray rem1">Game, software and web developer.</p>

            <p class="monospace medium lightgray rem1">Okay, but really, what do <i>I</i> do?</p>
            <p class="monospace medium lightgray rem1">I'm working on my own game engine, <a class="accent-color link" href="{{ site.baseurl }}/post/2024/01/14/Sapphire-thread.html">Sapphire</a> and <a class="accent-color link" href="https://vantainteractive.com/en/games/Prisonia">PRISONIA</a>, which runs on Sapphire, as well as <a class="accent-color link" href="{{ site.baseurl }}/portfolio#Translations">contribute to translations to projects like Penpot, Bluesky, Megalodon</a></p>
            <br><br>
            <p class="monospace semibold white rem1-15">Some recommendations:</p>
            <div class="recommendations-container">
                <div class="recommendation">
                    <a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/posts"><i data-lucide="newspaper"></i> /posts</a>
                </div>
                <div class="recommendation">
                    <a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/notes"><i data-lucide="notebook-text"></i> /notes</a>
                </div>
                <div class="recommendation">
                    <a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/now"><i data-lucide="history"></i> Now</a>
                </div>
                <div class="recommendation">
                    <a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/videos"><i data-lucide="video"></i> /videos</a>
                </div>
                <div class="recommendation">
                    <a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/uses"><i data-lucide="monitor-smartphone"></i> /uses</a>
                </div>
                <div class="recommendation">
                    <a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/recommends"><i data-lucide="star"></i> /recommends</a>
                </div>
                <div class="recommendation">
                    <a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/about"><i data-lucide="badge-info"></i> /about</a>
                </div>
                <div class="recommendation">
                    <a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/portfolio"><i data-lucide="folder-open"></i> /portfolio</a>
                </div>
                <div class="recommendation">
                    <a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/support"><i data-lucide="gem"></i> /support</a>
                </div>
                <div class="recommendation">
                    <a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/sitemap"><i data-lucide="map"></i> All pages</a>
                </div>
            </div>

            <p class="monospace medium lightgray rem1">Or, just search on the whole website below:</p>
            <div class="searchbox-container">
                <form id="site_search">
                    <input class="searchbox monospace italic search-input rem1" type="text" id="search-box" name="query" placeholder="Enter your search term..."> 
                </form>
            </div>

            <p class="grotesk semibold lightgray rem1-5">Latest post:</p>
            {% assign posts=site.posts | where:"lang", page.lang %}
            {% if site.posts.first.paidcontent %}
            <div class="article article-paid">
            {% else if %}
            <div class="article">
            {% endif %}
                <div class="article-left">
                    {% if site.posts.first.image_banner_link %}
                        <img class="article-image-size" src="{{ site.posts.first.image_banner_link }}" alt="{{ site.posts.first.image_banner_alt }}" title="{{ site.posts.first.image_banner_alt }}">
                    {% else if %}
                        <img class="article-image-size" src="{{ site.baseurl }}/images/post-thumbnails/Missing.webp" alt="No thumbnail available" title="No thumbnail available">
                    {% endif %}
                </div>
                <div class="article-right">
                    <a href="{{ site.posts.first.url }}"><p class="article-title rem2 white grotesk semibold">{{ site.posts.first.title }}</p></a>
                    <p class="article-desc rem1 lightgray semibold monospace italic">{{ site.posts.first.description }}</p>
                    <p class="article-date rem1 lightgray grotesk bold">{{ site.posts.first.date | date: "%d %B %Y" }}</p>
                    <p class="{{ site.posts.first.indicator_type }} {{ site.posts.first.indicator_class}} vantagray monospace semibold rem1">{{ site.posts.first.indicator_text }} | {{ site.posts.first.indicator_text_onpage }}</p>
                    <div class="article-button-container">
                        <a class="article-button-light grotesk medium" href="{{ site.posts.first.url }}">{{ site.t[page.lang].readmore }} <i data-lucide="arrow-right"></i></a>
                        <a class="article-button-light grotesk medium" data-share-url="{{ site.posts.first.url }}" data-share-title="{{ site.posts.first.title }}" data-share-description="{{ site.posts.first.description }}" data-share-date="{{ site.posts.first.date | date_to_xmlschema }}" data-share-thumbnail="{{ site.posts.first.image_banner_link }}"><i data-lucide="share"></i> Share</a>
                    </div>
                    <div class="article-categories">
                        {% for category in site.posts.first.categories %}
                            {% if site.posts.first.paidcontent %}
                                <a class="article-category grotesk medium rem1 article-paid" href="{{ site.baseurl }}/categories/subscribers-only-content">Subscribers-only content</a>
                            {% endif %}
                            <a class="article-category grotesk medium rem1" href="{{ site.baseurl }}/categories/{{ category | replace: ' ', '-' | downcase }}">{{ category }}</a>{% unless forloop.last %}{% endunless %}
                        {% endfor %}
                        {% for tag in site.posts.first.tags %}
                            <a class="article-tag grotesk medium rem1" href="{{ site.baseurl }}/tags/{{ tag | replace: ' ', '-' | downcase }}">{{ tag }}</a>{% unless forloop.last %}{% endunless %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <p class="grotesk semibold lightgray rem1-5">Also check out my various series of articles and content:</p>
            <div class="post-series-slider">
                <!-- <a href="{{ site.baseurl }}/playground" class="post-series-item">
                    <img class="post-series-item-image-size" src="{{ site.baseurl }}/images/post-thumbnails/AlexTECPlayz_GridBanner.webp" alt="" title="">
                    <p class="rem1 monospace white semibold">[NEW] Playground</p>
                </a> -->
                <a href="{{ site.baseurl }}/categories/code-and-explore/" class="post-series-item">
                    <img class="post-series-item-image-size" src="{{ site.baseurl }}/images/post-thumbnails/series/code/codeandexplore.webp" alt="" title="">
                    <p class="rem1 monospace white semibold">[SOON] Code & Explore</p>
                </a>
                <a href="{{ site.baseurl }}/categories/constructed-places/" class="post-series-item">
                    <img class="post-series-item-image-size" src="{{ site.baseurl }}/images/post-thumbnails/series/architecture/constructedspaces.webp" alt="" title="">
                    <p class="rem1 monospace white semibold">[SOON] Constructed Spaces</p>
                </a>
                <a href="{{ site.baseurl }}/categories/vibes-and-scores/" class="post-series-item">
                    <img class="post-series-item-image-size" src="{{ site.baseurl }}/images/post-thumbnails/series/music/vibes&scores.webp" alt="" title="">
                    <p class="rem1 monospace white semibold">[SOON] Vibes & Scores</p>
                </a>
            </div>

            <p class="grotesk semibold lightgray rem1-5">Currently working on:</p>
            {% assign specificPost = site.posts | where: "title", "Sapphire Game Engine thread" | first %}
            {% if specificPost.paidcontent %}
            <div class="article article-paid">
            {% else if %}
            <div class="article">
            {% endif %}
                <div class="article-left">
                    {% if specificPost.image_banner_link %}
                        <img class="article-image-size" src="{{ specificPost.image_banner_link }}" alt="{{ specificPost.image_banner_alt }}" title="{{ specificPost.image_banner_alt }}">
                    {% else if %}
                        <img class="article-image-size" src="{{ site.baseurl }}/images/post-thumbnails/Missing.webp" alt="No thumbnail available" title="No thumbnail available">
                    {% endif %}
                </div>
                <div class="article-right">
                    <a href="{{ specificPost.url }}"><p class="article-title rem2 white grotesk semibold">{{ specificPost.title }}</p></a>
                    <p class="article-desc rem1 lightgray semibold monospace italic">{{ specificPost.description }}</p>
                    <p class="article-date rem1 lightgray grotesk bold">{{ specificPost.date | date: "%d %B %Y" }}</p>
                    <p class="{{ specificPost.indicator_type }} {{ specificPost.indicator_class}} vantagray monospace semibold rem1">{{ specificPost.indicator_text }} | {{ specificPost.indicator_text_onpage }}</p>
                    <div class="article-button-container">
                        <a class="article-button-light grotesk medium" href="{{ specificPost.url }}">{{ site.t[page.lang].readmore }} <i data-lucide="arrow-right"></i></a>
                        <a class="article-button-light grotesk medium" data-share-url="{{ specificPost.url }}" data-share-title="{{ specificPost.title }}" data-share-description="{{ specificPost.description }}" data-share-date="{{ specificPost.date | date: '%d %B %Y' }}" data-share-thumbnail="{{ specificPost.image_banner_link }}"><i data-lucide="share"></i> Share</a>
                    </div>
                    <div class="article-categories">
                        {% for category in specificPost.categories %}
                            {% if specificPost.paidcontent %}
                                <a class="article-category grotesk medium rem1 article-paid" href="{{ site.baseurl }}/categories/subscribers-only-content">Subscribers-only content</a>
                            {% endif %}
                            <a class="article-category grotesk medium rem1" href="{{ site.baseurl }}/categories/{{ category | replace: ' ', '-' | downcase }}">{{ category }}</a>{% unless forloop.last %}{% endunless %}
                        {% endfor %}
                        {% for tag in specificPost.tags %}
                            <a class="article-tag grotesk medium rem1" href="{{ site.baseurl }}/tags/{{ tag | replace: ' ', '-' | downcase }}">{{ tag }}</a>{% unless forloop.last %}{% endunless %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <p class="grotesk semibold lightgray rem1-5">Check out the changelog:</p>
            {% assign specificPage = site.pages | where: "title", "Changelog" | first %}
            <div class="article">
                <div class="article-left">
                    {% if specificPage.image_banner_link %}
                        <img class="article-image-size" src="{{ specificPage.image_banner_link }}" alt="{{ specificPage.image_banner_alt }}" title="{{ specificPage.image_banner_alt }}">
                    {% else if %}
                        <img class="article-image-size" src="{{ site.baseurl }}/images/post-thumbnails/Missing.webp" alt="No thumbnail available" title="No thumbnail available">
                    {% endif %}
                </div>
                <div class="article-right">
                    <a href="{{ specificPage.url }}"><p class="article-title rem2 white grotesk semibold">{{ specificPage.title }}</p></a>
                    <p class="article-desc rem1 lightgray semibold monospace italic">{{ specificPage.description }}</p>
                    <p class="article-date rem1 lightgray grotesk bold">{{ specificPage.date | date: "%d %B %Y" }}</p>
                    <p class="{{ specificPage.indicator_type }} {{ specificPage.indicator_class}} vantagray monospace semibold rem1">{{ specificPage.indicator_text }} | {{ specificPage.indicator_text_onpage }}</p>
                    <div class="article-button-container">
                        <a class="article-button-light grotesk medium" href="{{ specificPage.url }}">{{ site.t[page.lang].readmore }} <i data-lucide="arrow-right"></i></a>
                        <a class="article-button-light grotesk medium" data-share-url="{{ specificPage.url }}" data-share-title="{{ specificPage.title }}" data-share-description="{{ specificPage.description }}" data-share-date="{{ specificPage.date | date: '%d %B %Y' }}" data-share-thumbnail="{{ specificPage.image_banner_link }}"><i data-lucide="share"></i> Share</a>
                    </div>
                    <div class="article-categories">
                        {% for category in specificPage.categories %}
                            <a class="article-category grotesk medium rem1" href="{{ site.baseurl }}/categories/{{ category | replace: ' ', '-' | downcase }}">{{ category }}</a>{% unless forloop.last %}{% endunless %}
                        {% endfor %}
                        {% for tag in specificPage.tags %}
                            <a class="article-tag grotesk medium rem1" href="{{ site.baseurl }}/tags/{{ tag | replace: ' ', '-' | downcase }}">{{ tag }}</a>{% unless forloop.last %}{% endunless %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <hr>

        {% include 8831.html %}

        {% include footer.html %}
        {% if site.output_configuration == 'production' %}
        <script nonce="{{ site.data.nonce }}" src="{{ site.baseurl }}/external/sharedweb/js/search.min.js"></script>
        {% else if %}
        <script nonce="{{ site.data.nonce }}" src="{{ site.baseurl }}/external/sharedweb/js/search.js"></script>
        {% endif %}
</body>
</html>
