---
layout: portfolio
---

<!DOCTYPE html>
<html lang="{{ page.lang }}" class="scroll-smooth">
    <head>
        {% include head.html %}
    </head>
<body>
        {% include header.html %}

        {% include notice-container.html %}

        <div class="articles-container portfolio-grid">
            <div class="recommendations-container column">
                <p class="article-long-title white grotesk semibold rem2-25">Games</p>
                <p class="article-desc rem1 lightgray semibold monospace">I develop games in my free time, mainly in Unreal Engine, but will also develop games on my game engine, Sapphire.</p>
                <p class="article-desc rem1 lightgray semibold monospace">Among games I've publicly announced, or projects that I made visible in the past, I'm working on PRISONIA, Project Mountain, Project Odyssey, have many other projects in the pipeline, cancelled, postponed or upcoming. Such projects include Project Hangar and Project Anubis.</p>
            </div>
            <a href="{{ site.baseurl }}/post/2024/06/01/Announcing-Prisonia"><div class="article column">
                <img class="portfolio-image-size" src="{{ site.baseurl }}/images/post-thumbnails/PRISONIA_01062024.webp" alt="The 'PRISONIA' logo using a squared font named 'Kiloton', white text, a thick black stroke around the title, on a 'prison jumpsuit orange' circle gradient to gray grid background that uses subtle light gray for the grid markings.">
                <p class="article-long-title rem1-5 white grotesk semibold">Announcing Prisonia →</p>
            </div></a>
            <a href="https://alextecplayz.github.io/"><div class="article column">
                <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/web/web_atp.webp" alt="A desktop web screenshot of the AlexTECPlayz website.">
                <p class="article-long-title rem1-5 white grotesk semibold">AlexTECPlayz website ↗</p>
            </div></a>
            <div class="recommendations-container column">
                <p class="article-long-title white grotesk semibold rem2-25">Websites</p>
                <p class="article-desc rem1 lightgray semibold monospace">I develop websites for my own use, publicly or internally, but I'm also open to freelance website development using pure HTML,CSS, JS, for no-frills, no-privacy invasive websites. If interested, contact me, as per my /about page.</p>
                <p class="article-desc rem1 lightgray semibold monospace">Among games I've publicly announced, or projects that I made visible in the past, I'm working on PRISONIA, Project Mountain, Project Odyssey, have many other projects in the pipeline, cancelled, postponed or upcoming. Such projects include Project Hangar and Project Anubis.</p>
                <div class="article-button-container">
                    <a class="article-button-light" href="{{ site.baseurl }}/about#contact">Want a website? Hire me</a>
                </div>
            </div>
            <a href="https://vantainteractive.com/"><div class="article column">
                <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/web/web_vi.webp" alt="A desktop web screenshot of the Vanta Interactive website.">
                <p class="article-long-title rem1-5 white grotesk semibold">Vanta Interactive website ↗</p>
            </div></a>
            <a href="https://docs.vantainteractive.com/"><div class="article column">
                <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/web/web_vidocs.webp" alt="A desktop web screenshot of the Vanta Interactive Docs website.">
                <p class="article-long-title rem1-5 white grotesk semibold">Vanta Interactive Docs website ↗</p>
            </div></a>
            <div class="recommendations-container column">
                <p class="article-long-title white grotesk semibold rem2-25">Videos</p>
                <p class="article-desc rem1 lightgray semibold monospace">I create videos on various topics, from time to time, but usually Unreal Engine tutorials, videos where I include unreleased music used in trailers, some video game speedruns, and the like. I consistently seem to be getting more and more views, usually hundreds of views on my tutorial videos, and up to tens of thousands of views for unreleased music, and the channel is nearly at 100 subscribers.</p>
                <p>&nbsp;</p>
                <a href="https://www.youtube.com/@alextecplayz/"><p class="article-long-title rem1-15 accent-color grotesk medium">YouTube ↗</p></a>
            </div>
            <a href="https://www.youtube.com/watch?v=BpNI4fIM_yY"><div class="article column">
                <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/videos/yt_thumb_sourceue5.webp" alt="Port Source maps to UE5">
                <p class="article-long-title rem1-15 white grotesk semibold">[1.5K views] Unreal Engine 5 - Porting Source maps into Unreal ↗</p>
            </div></a>
            <a href="https://www.youtube.com/watch?v=GN1HMtmNTv4"><div class="article column">
                <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/videos/yt_thumb_ue5massai.webp" alt="UE5 MassAI: NPCs, StateTrees, ZoneGraphs">
                <p class="article-long-title rem1-15 white grotesk semibold">[645 views] UE5 MassAI Tutorial - NPCs, StateTrees, ZoneGraphs ↗</p>
            </div></a>
            <a href="https://www.youtube.com/watch?v=AeWi99GATyU"><div class="article column">
                <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/videos/yt_thumb_codmwiiimusic.webp" alt="The Call of Duty: Modern Warfare III logo and promotional red/black background.">
                <p class="article-long-title rem1-15 white grotesk semibold">[47K views] Call of Duty®: Modern Warfare® III - Gameplay Trailer Song "Don't Fear The Reaper" ↗</p>
            </div></a>
            <a href="https://www.youtube.com/watch?v=PBTfjTatoTc"><div class="article column">
                <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/videos/yt_thumb_codbo6music1.webp" alt="The Call of Duty: Black Ops 6 logo and promotional orange/gray/black background.">
                <p class="article-long-title rem1-15 white grotesk semibold">[12K views] Call of Duty: Black Ops 6 - 'The Truth Lies' trailer music ↗</p>
            </div></a>
            <a href="https://www.youtube.com/watch?v=bM5LfkgK4Ok"><div class="article column">
                <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/videos/yt_thumb_orbspeedrun0615.webp" alt="OR8 - Speedrun [Glitch Speedrun] [World Record] 06:15">
                <p class="article-long-title rem1-15 white grotesk semibold">[45 views] OR8 Demo - Glitch Speedrun Any% New record 06:15 ↗</p>
            </div></a>
            <a href="{{ site.baseurl }}/portfolio/anubis"><div class="article column">
                <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/anubis/temple.webp" alt="An image of a cream temple in ancient egyptian style with some carvings, engravings, a gray raised base, a gold arch entrance, green lines near the flat roof, and a raised opening in the roof, similar to a skylight.">
                <p class="article-long-title rem1-5 white grotesk semibold">Project Anubis voxel showcase →</p>
            </div></a>
            <div class="recommendations-container column">
                <p class="article-long-title white grotesk semibold rem2-25">Voxel Art</p>
                <p class="article-desc rem1 lightgray semibold monospace">I use MagicaVoxel to create voxel art, both for my projects and to better myself. I'm available if you'd like to hire me to create some. If interested, contact me, as per my /about page.</p>
                <p>&nbsp;</p>
                <p class="article-desc rem1 lightgray semibold monospace">NOTE: The voxel art made available on my portfolio isn't for sale, or to be used by any third-parties. This voxel art is for use in my projects and my art.</p>
            </div>
            <a href="{{ site.baseurl }}/portfolio/frostedplanet"><div class="article column">
                <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/frostedplanet/arctic_base_lv20.webp" alt="An image of a small, yellow container-like structure raised above ground, to be used as an arctic outpost or base on a frozen planet.">
                <p class="article-long-title rem1-5 white grotesk semibold">Frosted Planet voxel showcase →</p>
            </div></a>
            <a href="{{ site.baseurl }}/portfolio/misc-voxel"><div class="article column">
                <img class="portfolio-image-size" src="{{ site.baseurl }}/images/portfolio/art/cogwheel.webp" alt="A gray voxel cogwheel on a pink background.">
                <p class="article-long-title rem1-5 white grotesk semibold">Miscellaneous voxel models showcase →</p>
            </div></a>
            <div class="recommendations-container column">
                <p class="article-long-title white grotesk semibold rem2-25">Translations</p>
                <p class="article-desc rem1 lightgray semibold monospace">My translation contributions to other projects, usually EN->RO. I'm available both as a hobby contributor and available for hire to translate whatever* you want into Romanian. If interested, contact me, as per my /about page.</p>
                <a href="https://hosted.weblate.org/user/alextecplayz/"><p class="article-long-title rem1-15 accent-color grotesk medium">Hosted Weblate ↗</p></a>
                <a href="https://translate.codeberg.org/user/alextecplayz/contributions/"><p class="article-long-title rem1-15 accent-color grotesk medium">Codeberg Translate ↗</p></a>
                <p>&nbsp;</p>
                <p class="article-desc rem1 lightgray semibold monospace">*Within some moral and legal limits.</p>
            </div>
            <div class="article column">
                <p class="article-long-title white grotesk semibold rem2-25">Highlights:</p>
                <a href="https://hosted.weblate.org/projects/penpot/-/ro/"><p class="article-long-title rem1-25 white grotesk semibold">Penpot ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Contributed to Penpot translations into Romanian</p>
                <a href="https://translate.codeberg.org/projects/moshidon/-/ro/"><p class="article-long-title rem1-25 white grotesk semibold">Moshidon ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Fully translated Moshidon into Romanian</p>
            </div>
            <div class="article column">
                <p class="article-long-title white grotesk semibold rem1-5">Full translations:</p>
                <a href="https://hosted.weblate.org/projects/boorusama/-/ro/"><p class="article-long-title rem1-25 white grotesk semibold">Boorusama ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Fully translated Boorusama into Romanian</p>
                <a href="https://translate.codeberg.org/projects/doable/-/ro/"><p class="article-long-title rem1-25 white grotesk semibold">Doable ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Fully translated Doable into Romanian</p>
                <a href="https://github.com/Chooloo/koler/pull/548"><p class="article-long-title rem1-25 white grotesk semibold">Koler ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Fully translated Koler into Romanian</p>
                <a href="https://hosted.weblate.org/projects/libresudoku/-/ro/"><p class="article-long-title rem1-25 white grotesk semibold">LibreSudoku ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Fully translated LibreSudoku into Romanian</p>
                <a href="https://translate.codeberg.org/projects/megalodon/-/ro/"><p class="article-long-title rem1-25 white grotesk semibold">Megalodon ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Fully translated Megalodon into Romanian</p>
                <a href="https://translate.codeberg.org/projects/open-tracks-osm-dashboard/-/ro/"><p class="article-long-title rem1-25 white grotesk semibold">OpenTracks ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Fully translated OpenTracks into Romanian</p>
            </div>
            <div class="article column">
                <p class="article-long-title white grotesk semibold rem1-5">Contributions:</p>
                <a href="https://hosted.weblate.org/projects/catima/-/ro/"><p class="article-long-title rem1-25 white grotesk semibold">Catima ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Contributed to Catima translations into Romanian</p>
                <a href="https://translate.codeberg.org/projects/conversations/-/ro/"><p class="article-long-title rem1-25 white grotesk semibold">Conversations.im ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Contributed to Conversations.im translations into Romanian</p>
                <a href="https://translate.codeberg.org/projects/infinity-for-lemmy/-/ro/"><p class="article-long-title rem1-25 white grotesk semibold">Eternity for Lemmy ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Contributed to Eternity (formerly Infinity for Lemmy) translations into Romanian</p>
                <a href="https://hosted.weblate.org/projects/minetest/-/ro/"><p class="article-long-title rem1-25 white grotesk semibold">Minetest ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Contributed to Minetest translations into Romanian</p>
                <a href="https://hosted.weblate.org/projects/organicmaps/-/ro/"><p class="article-long-title rem1-25 white grotesk semibold">OrganicMaps ↗</p></a>
                <p class="article-long-desc rem1 lightgray semibold monospace italic">Contributed to OrganicMaps translations into Romanian</p>
            </div>
        </div>

        {% include footer.html %}
</body>
</html>
