---
layout: posts
---

<!DOCTYPE html>
<html lang="{{ page.lang }}" class="scroll-smooth">
    <head>
        {% include head.html %}
        <meta name="feature-stickypostheader" content="false"/>
    </head>
<body>
        {% include header.html %}

        {% include notice-container.html %}

        <div class="articles-container">
            {% assign posts=site.posts | where:"lang", page.lang %}
            <div class="article-long">
                <div class="article-long-left">
                    <img class="article-long-image-size" src="{{ site.posts.first.image_banner_link }}" alt="{{ site.posts.first.image_banner_alt }}">
                </div>
                <div class="article-long-right">
                    <a href="{{ site.posts.first.url }}"><p class="article-long-title rem4 white grotesk semibold">{{ site.posts.first.title }}</p></a>
                    <p class="article-long-desc rem1 lightgray semibold monospace italic">{{ site.posts.first.description }}</p>
                    <p class="article-long-date rem1 lightgray grotesk bold">{{ site.posts.first.date | date: "%d %B %Y" }}</p>
                    <a class="article-button-light grotesk medium" href="{{ site.posts.first.url }}">{{ site.t[page.lang].readmore }}</a>
                </div>
            </div>
            {% for post in site.posts offset:1 %}
            <div class="article">
            <div class="article-left">
                <img class="article-image-size" src="{{ post.image_banner_link }}" alt="{{ post.image_banner_alt }}">
            </div>
            <div class="article-right">
                <a href="{{ post.url }}">
                    <p class="article-title rem2 white grotesk semibold">{{ post.title }}</p>
                </a>
                <p class="article-desc rem1 lightgray semibold monospace italic">{{ post.description }}</p>
                <p class="article-date rem1 lightgray grotesk bold">{{ post.date | date: "%d %B %Y" }}</p>
                <div class="article-button-container">
                    <a class="article-button-light grotesk medium" href="{{ post.url }}">{{ site.t[page.lang].readmore }}</a>
                </div>
            </div>
        </div>
        {% endfor %}

        <hr>
        
        <div class="recommendations-container">
            <div class="recommendation">
                <a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/uses">Alex uses</a>
            </div>
            <div class="recommendation">
                <a class="recommendation-text rem1 white monospace semibold" href="{{ site.baseurl }}/recommends">Alex recommends</a>
            </div>
        </div>

        <hr>

        <div class="recommendations-container">
            <div class="post">
                <p class="post-text">My banners:</p>
                <a href="https://alextecplayz.github.io" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/ATP.webp" alt="AlexTECPlayz"></a>
                <a href="https://vantainteractive.com/en/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/VIgamesnow.webp" alt="Vanta Interactive"></a>
                <a href="https://docs.vantainteractive.com/en/sapphire" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/SapphireEngine.webp" alt="Sapphire Game Engine"></a>
                <a href="https://vantainteractive.com/en/games/Prisonia" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/Jailbird.gif" alt="PRISONIA - Imprison people NOW!"></a>
            </div>
        </div>
        <div class="post">
            <p class="post-text">Various banners:</p>
            <a href="https://www.patrick-breyer.de/en/posts/chat-control/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/StopChatControl.webp" alt="Stop Chat Control!"></a>
            <a href="https://unrealengine.com" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/UnrealEngine.webp" alt="Unreal Engine"></a>
            <a href="https://www.mozilla.org/firefox/new/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/firefox.webp" alt="take back the web, install firefox"></a>
            <a href="https://ublockorigin.com/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/ublock.webp" alt="uBlock Origin NOW"></a>
            <a href="https://jointhefediverse.net" target="_blank" rel="noopener noreferrer"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/federate.webp" alt="join the fediverse"></a>
            <a href="https://yesterweb.org/no-to-web3/" target="_blank" rel="noopener noreferrer"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/noweb3.gif" alt="Say no to Web3"></a>
            <a href="https://transinromania.ro/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/TransInRomania.webp" alt="Trans in Romania"></a>
            <img class="banner8831" src="{{ site.baseurl }}/images/88x31/transnow2.webp" alt="Trans rights NOW!">
            <img class="banner8831" src="{{ site.baseurl }}/images/88x31/NoBinaryNoProblem.webp" alt="no binary? no problem!">
            <img class="banner8831" src="{{ site.baseurl }}/images/88x31/AromanticsNow.webp" alt="Aromantics Now!">
            <img class="banner8831" src="{{ site.baseurl }}/images/88x31/rainbow_bev.webp" alt="Rainbow!">
            <img class="banner8831" src="{{ site.baseurl }}/images/88x31/valid-css.gif" alt="Valid CSS">
            <img class="banner8831" src="{{ site.baseurl }}/images/88x31/valid-html5.gif" alt="Valid HTML 5">
            <img class="banner8831" src="{{ site.baseurl }}/images/88x31/right-to-repair.webp" alt="I support Right To Repair!">
            <img class="banner8831" src="{{ site.baseurl }}/images/88x31/discord-no-way.gif" alt="Discord? No way!">
            <!-- <img class="banner8831" src="{{ site.baseurl }}/images/88x31/" alt=""> -->
        </div>
        
        <div class="post">
            <p class="post-text">Cool people or sites:</p>
            <a href="https://cobalt.tools" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/justusecobalt.webp" alt="just use cobalt"></a>
            <a href="https://zvava.org/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/zvava.org.webp" alt="zvava (sophie)"></a>
            <a href="https://lunabee.space/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/lunabee.gif" alt="lunabee"></a>
            <a href="https://nora.codes/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/noracodes.png" alt="nora codes"></a>
            <a href="https://blog.fawx.news/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/blog.fawx.news.webp" alt="Blog Fawx News"></a>
            <a href="https://lunareclipse.zone/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/lunar-eclipse-zone.gif" alt="The LunarEclipse Zone"></a>
            <a href="https://flufftech.net/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/rail-flufftech.webp" alt="Rail"></a>
            <a href="https://awawa.neocities.org/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/awawa.webp" alt="byte"></a>
            <a href="https://keeri.place/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/keerifox.png" alt="keeri"></a>
            <a href="https://sneexy.pages.gay/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/sneexy.png" alt="sneexy"></a>
            <a href="https://seirdy.one/" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/seirdy.png" alt="Square icon of a colon and semicolon, next to the word “Seirdy”."></a>
            <!-- <a href="" target="_blank"><img class="banner8831" src="{{ site.baseurl }}/images/88x31/out/" alt=""></a> -->
        </div>

        {% include footer.html %}
</body>
</html>
