---
layout: tag
---

<!DOCTYPE html>
<html lang="{{ page.lang }}" class="scroll-smooth">
    <head>
        {% include head.html %}
        <div id="features-pagewide">
            <meta name="feature-stickypostheader" content="false"/>
        </div>
    </head>
<body>
        {% include header.html %}

        {% include notice-container.html %}

        {% include mobile.html %}

        <div id="main-content"> <!-- Continues past 8831 banners -->

        <div class="articles-container">
            {% assign posts = site.posts | where: "tags", page.tag %}
            {% if posts.size > 0 %}
            {% for post in posts %}
            <div class="article">
                <div class="article-left">
                    {% if post.image_banner_link %}
                        <img class="article-image-size" src="{{ post.image_banner_link }}" alt="{{ post.image_banner_alt }}" title="{{ post.image_banner_alt }}">
                    {% else if %}
                        <img class="article-image-size" src="{{ site.baseurl }}/images/post-thumbnails/Missing.webp" alt="No thumbnail available" title="No thumbnail available">
                    {% endif %}    
                </div>
                <div class="article-right">
                    <a data-spalink href="{{ post.url }}"><p class="article-title rem2 white grotesk semibold">{{ post.title }}</p></a>
                    <p class="article-desc rem1 lightgray semibold monospace italic">{{ post.description }}</p>
                    <p class="article-date rem1 lightgray grotesk bold">{{ post.date | date: "%d %B %Y" }}</p>
                    <p class="{{ post.indicator_type }} {{ post.indicator_class}} vantagray monospace semibold rem1">{{ post.indicator_text }} | {{ post.indicator_text_onpage }}</p>
                    <div class="article-button-container">
                        <a data-spalink class="article-button-light grotesk medium" href="{{ post.url }}">Read More <i data-lucide="arrow-right"></i></a>
                        <p class="article-button-light grotesk medium" data-share-url="{{ post.url }}" data-share-title="{{ post.title }}" data-share-description="{{ post.description }}" data-share-date="{{ post.date | date_to_xmlschema }}" data-share-thumbnail="{{ post.image_banner_link }}"><i data-lucide="share"></i> Share</p>
                    </div>
                    <div class="article-categories">
                        {% for category in post.categories %}
                            <a class="article-category grotesk medium rem1" href="{{ site.baseurl }}/categories/{{ category | replace: ' ', '-' | downcase }}">{{ category }}</a>{% unless forloop.last %}{% endunless %}
                        {% endfor %}
                        {% for tag in post.tags %}
                            <a class="article-tag grotesk medium rem1" href="{{ site.baseurl }}/tags/{{ tag | replace: ' ', '-' | downcase }}">{{ tag }}</a>{% unless forloop.last %}{% endunless %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% endif %}
            {% assign pages = site.pages | where: "tags", page.tag %}
            {% if pages.size > 0 %}
            {% for page in pages %}
            <div class="article">
                <div class="article-left">
                    {% if page.image_banner_link %}
                        <img class="article-image-size" src="{{ page.image_banner_link }}" alt="{{ page.image_banner_alt }}" title="{{ page.image_banner_alt }}">
                    {% else if %}
                        <img class="article-image-size" src="{{ site.baseurl }}/images/post-thumbnails/Missing.webp" alt="No thumbnail available" title="No thumbnail available">
                    {% endif %}
                </div>
                <div class="article-right">
                    <a data-spalink href="{{ page.url }}"><p class="article-title rem2 white grotesk semibold">{{ page.title }}</p></a>
                    <p class="article-desc rem1 lightgray semibold monospace italic">{{ page.description }}</p>
                    <p class="article-date rem1 lightgray grotesk bold">{{ page.date | date: "%d %B %Y" }}</p>
                    <p class="{{ page.indicator_type }} {{ page.indicator_class}} vantagray monospace semibold rem1">{{ page.indicator_text }} | {{ page.indicator_text_onpage }}</p>
                    <div class="article-button-container">
                        <a data-spalink class="article-button-light grotesk medium" href="{{ page.url }}">Read More <i data-lucide="arrow-right"></i></a>
                        <p class="article-button-light grotesk medium" data-share-url="{{ page.url }}" data-share-title="{{ page.title }}" data-share-description="{{ page.description }}" data-share-date="{{ page.date | date_to_xmlschema }}" data-share-thumbnail="{{ page.image_banner_link }}"><i data-lucide="share"></i> Share</p>
                    </div>
                    <div class="article-categories">
                        {% for category in page.categories %}
                            <a class="article-category grotesk medium rem1" href="{{ site.baseurl }}/categories/{{ category | replace: ' ', '-' | downcase }}">{{ category }}</a>{% unless forloop.last %}{% endunless %}
                        {% endfor %}
                        {% for tag in page.tags %}
                            <a class="article-tag grotesk medium rem1" href="{{ site.baseurl }}/tags/{{ tag | replace: ' ', '-' | downcase }}">{{ tag }}</a>{% unless forloop.last %}{% endunless %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% endif %}
        </div>

        </div> <!-- End of div id main-content -->

        {% include footer.html %}
</body>
</html>

